@media(min-width:1500px) {
    .container {
        max-width: 1484px
    }
}

$main-green: #51801A;
$main-red: #82252F;

body {
    font-family: "Manrope", sans-serif;
    position: relative;
    // overflow-x: hidden;
}

input {
    outline: none;
}

a {
    text-decoration: none;
}

label {
    cursor: pointer;
}

main.main {
    position: relative;
    z-index: 2;
    background: #fff;
    // overflow: hidden;

    &>section,
    &>div {
        &:last-child {
            padding-bottom: 90px;
        }
    }
}

.breadcrums {
    padding: 20px 0;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            display: inline-block;
            vertical-align: middle;
            margin-right: 28px;
            font-size: 14px;
            font-weight: 500;
            color: #3A2C2A;
            position: relative;

            &::after {
                content: '';
                display: inline-block;
                width: 20px;
                height: 20px;
                background: url('../img/general/breacrumbs-arrow.svg') no-repeat center / 100%;
                position: absolute;
                right: -25px;
                top: 50%;
                transform: translateY(-50%);
            }

            a {
                color: #968F8E;
                transition: 0.3s;

                &:hover {
                    color: #51801A;
                }
            }

            &:last-child {
                &::after {
                    display: none;
                }
            }
        }
    }
}

.border-btn {
    height: 43px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    border: 1px solid $main-green;
    background: #fff;
    color: $main-green;
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s;

    &:hover {
        color: #fff;
        background: #82252F;
        border-color: #82252F;
    }
}

.greenbtn {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    height: 48px;
    transition: 0.3s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background: $main-green;

    &:hover {
        background: #82252F;
        color: #fff;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}