header.header {
    z-index: 20;
    position: relative;
    border-bottom: 1px solid #EDECEC;
    background: #fff;
}

.header__toprow {
    background: $main-green;
    height: 40px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            display: inline-block;
            vertical-align: middle;
            color: #fff;
            font-size: 12px;
            font-weight: 500;
            padding: 0 14px;
            position: relative;

            &::after {
                content: '';
                display: inline-block;
                width: 1px;
                height: 20px;
                background: #fff;
                position: absolute;
                right: -2.5px;
                top: 50%;
                transform: translateY(-50%);
            }

            &:last-child {
                &::after {
                    display: none;
                }
            }
        }
    }

    p {
        margin: 0;
        color: #fff;
        font-weight: 500;
        font-size: 12px;
    }
}

.fliptext {
    height: 40px;

    .swiper-slide {
        height: 40px !important;

        p {
            height: 100%;
            display: flex;
            margin: 0;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-size: 12px;
            font-weight: 500;
            text-transform: capitalize;
        }
    }
}

.header__telnum {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    padding-left: 28px;
    position: relative;
    transition: 0.3s;

    &:hover {
        opacity: 0.7;
        color: #fff;
    }

    img {
        position: absolute;
        width: 20px;
        left: 0;
        top: -2px;
    }
}

.header__content {
    padding: 24px 0;
}

.header__logo {
    display: inline-block;
    width: 100%;
    max-width: 134px;
    flex: 0 0 134px;

    img {
        width: 100%;
    }

}

header.header nav {
    width: 100%;
    max-width: calc(100% - 134px);
    flex: 0 0 calc(100% - 134px);
}

.header__nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 29px;

    &>li {
        display: inline-block;
        vertical-align: middle;
        margin-right: 26px;

        &:last-child {
            margin-right: 0;
        }

        a {
            text-decoration: none;
            transition: 0.3s;
            color: #3A2C2A;
            font-size: 16px;
            line-height: 150%;
            font-weight: 600;
        }
    }

    li.category {
        &>a {
            color: #3A2C2A;
            font-weight: 600;
            font-size: 16px;
            line-height: 150%;
            padding: 9px 13px;
            border-radius: 5px;
            border: 1px solid #CECBCB;
            display: inline-flex;
            align-items: center;
            justify-content: center;

            img {
                margin-right: 8px;
            }

            &:hover {
                border-color: $main-green;
            }
        }

        &.active {
            a {
                border-color: $main-green;
            }
        }
    }

    li.dropdlink {
        a {
            position: relative;
            padding-right: 20px;

            img {
                width: 16px;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}

.header__search {
    width: 100%;
    max-width: 68%;
    flex: 0 0 68%;
    position: relative;

    input {
        width: 100%;
        border-radius: 5px;
        height: 41px;
        border: 1px solid #CECBCB;
        padding-left: 12px;
        font-size: 14px;
        font-weight: 500;
        font-family: "Manrope", sans-serif;
        transition: 0.3s;
        padding-right: 90px;

        &::placeholder {
            color: #968F8E;
        }

        &:focus {
            border: 1px solid $main-green;
        }
    }

    button {
        position: absolute;
        right: 0;
        top: 0;
        background: $main-green;
        width: 87px;
        height: 41px;
        padding: 0;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        line-height: 150%;
        font-weight: 600;
        transition: 0.3s;

        &:hover {
            background: #82252F;
        }
    }
}

.header__accinfo {
    width: 100%;
    max-width: 32%;
    flex: 0 0 32%;
    display: flex;
    position: relative;

    a {
        display: inline-flex;
        align-items: center;
        font-weight: 500;
        font-size: 14px;
        color: #3A2C2A;
        margin-right: 32px;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
            color: $main-green;

            svg {
                path {
                    fill: $main-green;
                }
            }
        }

        &:last-child {
            margin-right: 0;
        }

        img,
        svg {
            width: 24px;
            margin-right: 8px;
        }

        svg {
            path {
                transition: 0.3s;
            }
        }
    }
}

.categories-menu {
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border-top: 1px solid #EDECEC;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    transform: translateY(-20px);
    transition: 0.5s;

    &.show {
        opacity: 1;
        z-index: 2;
        visibility: visible;
        transform: translateY(0);
    }

}

.categories-menu__leftcat {
    padding: 20px 20px 20px 0;
    border-right: 1px solid #EDECEC;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            position: relative;
            padding: 0 20px 0 28px;
            font-weight: 600;
            color: #3A2C2A;
            font-size: 14px;
            margin-bottom: 14px;
            cursor: pointer;
            transition: 0.3s;

            &:last-child {
                margin-bottom: 0;
            }

            &:hover {
                color: $main-green;

                .cm-icon {
                    svg path {
                        fill: $main-green;
                    }

                    .strokesvg path {
                        fill: #fff;
                        stroke: $main-green;
                    }
                }

                .cm-arrow {
                    svg path {
                        fill: $main-green;
                    }
                }
            }
        }

        .cm-icon {
            display: inline-block;
            width: 20px;
            height: 20px;
            position: absolute;
            left: 0;
            top: -2px;

            svg {
                width: 20px;

                path {
                    transition: 0.3s;
                }
            }
        }

        .cm-arrow {
            display: inline-block;
            width: 16px;
            height: 16px;
            position: absolute;
            right: 0;
            top: -2px;

            svg {
                width: 16px;

                path {
                    transition: 0.3s;
                }
            }
        }
    }
}

.categories-menu__rightlists {
    padding: 20px 0 20px 20px;

    h4 {
        margin-bottom: 12px;
        color: $main-red;
        font-weight: 700;
        font-size: 20px;
    }
}

.cmlist-item {
    margin-bottom: 22px;

    &:last-child {
        margin-bottom: 0;
    }

    h6 {
        margin-bottom: 8px;
        color: #3A2C2A;
        font-size: 16px;
        font-weight: 700;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        &.show {
            li {
                display: block !important;
            }
        }

        li {
            margin-bottom: 4px;
            display: none;

            &:nth-child(-n+4) {
                display: block;
            }

            &:last-child {
                margin-bottom: 0;
            }

            a {
                color: #3A2C2A;
                font-size: 12px;
                font-weight: 500;
            }
        }
    }

    .more {
        margin-top: 8px;
        font-size: 12px;
        color: #7A6E6D;
        font-weight: 500;
        display: inline-block;
        position: relative;
        padding-right: 22px;
        cursor: pointer;

        i {
            font-style: normal;
        }

        svg {
            width: 16px;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(#968F8E, 0.5);
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    transition: 0.3s;

    &.show {
        opacity: 1;
        z-index: 10;
        visibility: visible;
    }
}

.categories-menu__leftcat li.active {
    color: $main-green;

    .cm-icon {
        svg path {
            fill: $main-green;
        }

        .strokesvg path {
            fill: #fff;
            stroke: $main-green;
        }
    }

    .cm-arrow {
        svg path {
            fill: $main-green;
        }
    }
}

.categories-menu__tab {
    display: none;
}

.categories-menu__tab.active {
    display: block;
}

.cmlistswrapper {
    .col {
        width: 100%;
        max-width: 20%;
        flex: 0 0 20%;
    }
}

.brand-menu {
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border-top: 1px solid #EDECEC;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    transform: translateY(-20px);
    transition: 0.5s;
    padding: 20px 20px 40px 20px;

    &.show {
        opacity: 1;
        z-index: 2;
        visibility: visible;
        transform: translateY(0);
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0 0 30px 0;
        display: flex;
        flex-wrap: wrap;

        li {
            width: 100%;
            width: 25%;
            flex: 0 0 25%;
            padding: 0 10px 0 0;
            margin-bottom: 8px;

            a {
                color: #3A2C2A;
                font-size: 14px;
                font-weight: 500;
            }
        }
    }

    .viewallbrands {
        padding: 12px 20px;
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        background: #51801A;
        border-radius: 5px;
        -webkit-transition: 0.3s;
        transition: 0.3s;

        &:hover {
            background: #82252F;
        }
    }
}

.quote-menu {
    background: #fff;
    width: 523px;
    position: absolute;
    top: 100%;
    border-top: 1px solid #EDECEC;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    transform: translateY(-20px);
    transition: 0.3s;

    &.show {
        opacity: 1;
        z-index: 2;
        visibility: visible;
        transform: translateY(0);
    }

    .col-lg-6 {
        &:nth-child(1) {
            border-right: 1px solid #EDECEC;
            width: 100%;
            max-width: 47%;
            flex: 0 0 47%;
        }

        &:nth-child(2) {
            width: 100%;
            max-width: 53%;
            flex: 0 0 53%;
        }
    }
}

.quote__item {
    padding: 28px;

    .qlink {
        position: relative;
        padding-left: 32px;
        padding-right: 20px;
        color: $main-red;
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 20px;
        display: inline-block;

        .icon {
            position: absolute;
            left: 0;
            top: 50%;
            width: 24px;
        }

        .arrow {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .greenbtn {
        padding: 8px 20px;
        background: #51801A;
        border-radius: 5px;
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        transition: 0.3s;
        display: inline-block;

        &:hover {
            background: #82252F;
        }
    }
}

.header__burger,
.searchbtn-mob {
    display: none;
}

.categories-menu__leftcat {
    height: 100%;
}

.header__nav li.dropdlink>a:hover,
.cmlist-item ul li a:hover,
.brand-menu ul li a:hover {
    color: #51801A;
}

.header__search input {
    position: relative;
    z-index: 1;
}

.header__search button {
    z-index: 2;
}

.search-dropdown {
    position: absolute;
    background: #fff;
    width: 100%;
    left: 0;
    top: 40px;
    padding: 10px;
    border: 1px solid #CECBCB;
    border-radius: 4px;
    display: none;
    overflow: auto;
    height: 280px;
    max-height: calc(100vh - 200px);

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-track {
        background: rgba(#51801A, 0.1);
    }

    &::-webkit-scrollbar-thumb {
        background-color: #51801A;
        border-radius: 10px;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            margin-bottom: 8px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        a {
            display: flex;
            align-items: center;
            min-height: 56px;

            .imgwrap {
                width: 100%;
                max-width: 56px;
                flex: 0 0 56px;
                height: 56px;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    max-width: 100%;
                    max-height: 100%;
                }
            }

            p {
                margin: 0;
                width: 100%;
                max-width: calc(100% - 56px);
                flex: 0 0 calc(100% - 56px);
                padding-left: 24px;
                padding-right: 5px;
                color: #7A6E6D;
                font-size: 14px;
                line-height: 150%;
            }

            &:hover {
                background: rgba(#51801A, 0.1);

                p {
                    color: #51801A;
                    font-weight: 600;
                }
            }
        }
    }

}

.account-menu {
    position: absolute;
    right: 0;
    top: calc(100% + 10px);
    width: 314px;
    padding: 0 0 12px;
    background: #fff;
    box-shadow: 0px 0px 10px 2px #34481C26;
    border-radius: 4px;
    transition: 0.3s;
    transform: translateY(-20px);
    z-index: -1;
    opacity: 0;
    visibility: hidden;

    &.show {
        transform: translateY(0);
        z-index: 1;
        opacity: 1;
        visibility: visible;
    }


    .greenbtn {
        font-size: 16px;
        font-weight: 600;
        color: #fff;
        min-width: 142px;
        padding: 5px 10px;
        margin-bottom: 20px;

        &:hover {
            color: #fff;
        }
    }

    ul {
        padding: 12px 0 0 0;
        margin: 0;
        list-style-type: none;
        border-top: 1px solid #E9E9E9;

        li {
            margin-bottom: 8px;

            a {
                display: flex;
                min-height: 48px;
                align-items: center;
                padding: 5px 20px;
                transition: 0.3s;
                color: #2A2E3A;
                font-size: 14px;
                font-weight: 600;

                &:hover {
                    background: rgba(#51801A, 0.1);
                    color: $main-green;
                }
            }

            &:last-child {
                border-top: 1px solid #ECECED;
                border-bottom: 1px solid #ECECED;
            }
        }
    }

    &::after {
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        background: #fff;
        border: 2px solid #ECECED;
        transform: rotate(45deg);
        position: absolute;
        right: 100px;
        top: -10px;
    }

}

.account-menu__header {
    position: relative;
    padding-top: 22px;
    text-align: center;
    background: #fff;
    z-index: 2;
}




@media(max-width:1399.8px) {
    .header__nav {
        padding-left: 20px;
    }

    .header__nav>li {
        margin-right: 15px;
    }

    .header__nav li.category>a,
    .header__nav>li a {
        font-size: 15px;
    }

    .header__nav li.category>a {
        padding: 8px 10px;
    }

    .header__nav li.category>a img {
        margin-right: 4px;
    }

    .header__nav li.dropdlink a {
        padding-right: 18px;
    }

    .header__nav li.dropdlink {
        margin-right: 12px;
    }

    .header__search {
        max-width: 63%;
        flex: 0 0 63%;
    }

    .header__accinfo {
        max-width: 37%;
        flex: 0 0 37%;
    }

    .cmlistswrapper .col {
        max-width: 33%;
        flex: 0 0 33%;
    }

    .cmlist-item {
        margin-bottom: 20px !important;
    }

}

@media(max-width:1199.8px) {
    nav {
        display: none;
    }

    .header__burger {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        vertical-align: middle;
    }

    button.burger {
        display: inline-block;
        position: relative;
        padding: 0;
        width: 32px;
        height: 20px;
        border: none;
        background: transparent;
        cursor: pointer;

        &:focus {
            outline: none;
        }

        &.burger2 {

            &:after,
            &:before,
            span {
                width: 100%;
                height: 2px;
                border-radius: 100px;
                position: absolute;
                display: block;
                background: #51801A;
                right: 0;

            }

            &:after,
            &:before {
                content: "";
                transition: 0.3s width 0.4s;
            }

            &:after {
                top: 0px;
                left: 0px;
                margin-top: 0px;
            }

            &:before {
                bottom: 0px;
                right: 0px;
                margin-bottom: 0px;
            }

            span {
                top: 50%;
                margin-top: -1px;
                transition: transform 0.3s;

                &:before {
                    content: "";
                    background: #51801A;
                    width: 100%;
                    height: 2px;
                    border-radius: 100px;
                    position: absolute;
                    left: 0px;
                    transition: transform 0.3s;
                }
            }

            &.on {


                &:after {
                    transition: all 0.2s;
                    width: 0%;
                    left: 0px;
                }

                &:before {
                    transition: all 0.2s;
                    width: 0%;
                    right: 0px;
                }

                span {
                    transform: rotate(45deg);
                    transition: 0.3s transform 0.4s;

                    &:before {
                        transform: rotate(-90deg);
                        transition: 0.3s transform 0.4s;
                    }
                }


            }
        }

    }

    .header__search {
        max-width: 60%;
        flex: 0 0 60%;
    }

    .header__accinfo {
        max-width: 40%;
        flex: 0 0 40%;
    }

    header.header nav {
        position: absolute;
        left: 0;
        top: 133px;
        width: 100%;
        height: auto;
        background: #fff;
        max-width: 100%;
        padding: 30px;

        .header__nav {
            padding: 0;
        }

        .header__nav>li {
            margin: 0 0 20px 0;
            display: block;
        }

        .categories-menu,
        .brand-menu,
        .quote-menu {
            opacity: 1;
            z-index: 1;
            visibility: visible;
            transform: translateY(0);
            position: relative;
            border-top: none;
            padding: 0;
            display: none;

            &.show {
                display: block;
            }
        }

        .categories-menu,
        .brand-menu {
            .container {
                max-width: 100%;
                padding: 0;
            }
        }

        .brand-menu {
            ul {
                padding-top: 20px;
            }
        }

        .quote__item {
            padding-left: 0;
        }

        .quote-menu .col-lg-6:first-child {
            border: none;
        }






    }

    .categories-menu__leftcat {
        height: 100%;
    }

    .header__nav li.dropdlink a {
        display: inline-block;
    }

    .account-menu:after {
        right: 185px;
    }











}

@media(max-width:991.8px) {
    .categories-menu__leftcat {
        border-right: none;
    }

    .brand-menu ul li {
        max-width: 33.333%;
        flex: 0 0 33.333%;
    }
}

@media(max-width:767.8px) {
    .header__accinfo span {
        display: none;
    }

    .searchbtn-mob {
        display: inline-block;
    }

    .header__search {
        display: none;
    }

    .header__accinfo {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .searchbtn-mob {
        padding: 0;
        border: none;
        padding: 0;
        background: transparent;
    }

    .header__accinfo a img,
    .header__accinfo a svg {
        margin-right: 0;
    }

    .searchbtn-mob {
        width: 24px;

        img {
            width: 100%;
        }
    }

    .header__accinfo a {
        margin-right: 24px;
    }

    .searchbtn-mob {
        margin-right: 24px;
    }

    .categories-menu__rightlists {
        padding-left: 0;
        padding-right: 0;
    }

    .cmlistswrapper .col {
        max-width: 50%;
        flex: 0 0 50%;
    }

    .brand-menu ul li {
        max-width: 50%;
        flex: 0 0 50%;
    }

    .header__nav li.category>a,
    .header__nav>li a {
        font-size: 20px;
    }

    header.header nav .quote__item {
        padding-bottom: 0;
    }

    .header__accinfo a {
        margin-right: 24px !important;
    }

    .header__search {
        position: absolute;
        left: 0;
        top: 100%;
        max-width: 100%;
        background: #fff;
        padding: 20px;
        border-top: 1px solid #CECBCB;

        button {
            top: 20px;
            right: 20px;
        }
    }

    .search-dropdown {
        top: 81px;
        border-radius: 0;
    }

    .account-menu:after {
        right: 118px;
    }


}

@media(max-width:575.8px) {
    .header__accinfo a {
        margin-right: 0 !important;
    }

    .hidemob {
        display: none;
    }

    .fliptext .swiper-slide p {
        text-align: left;
        justify-content: flex-start;
    }

    .header__telnum {
        padding: 0;
        width: 30px;
        height: 40px;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        span {
            display: none;
        }

        img {
            margin: 0;
            position: relative;
            width: 26px;
        }
    }

    .header__accinfo a,
    .searchbtn-mob {
        margin-right: 0;
    }

    .header__accinfo {
        justify-content: space-between !important;
        display: flex !important;
        width: 100% !important;
        flex-wrap: wrap;
        max-width: 100%;
    }

    .header__accinfo {
        padding-left: 0px;
    }

    .header__logo {
        max-width: 100%;
    }

    .header__nav li.category>a,
    .header__nav>li a {
        font-size: 16px;
    }

    header.header nav {
        padding: 20px 15px;
    }

    .cmlistswrapper .col,
    .brand-menu ul li {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .cmlist-item ul li a {
        font-size: 14px;
    }

    .quote-menu {
        width: 100%;
    }

    .quote-menu .col-lg-6 {
        max-width: 50% !important;
        flex: 0 0 50% !important;
    }

    .header__nav li.dropdlink a {
        margin-bottom: 10px;
    }

    header.header nav .quote__item {
        padding-top: 5px;
    }

    .quote-menu {
        padding-top: 10px !important;
    }

    .brand-menu ul li {
        padding: 0;
        margin: 0;
    }

    header.header nav .brand-menu ul {
        padding-top: 10px;
    }

    .header__nav li.dropdlink .quote__item {
        padding-right: 0;

        .greenbtn {
            display: inline-flex;
            align-items: center;
            padding: 0;
            min-width: 200px;

        }
    }

    .account-menu:after {
        display: none;
    }

    .account-menu {
        width: 300px;
        top: 100%;
    }

    .header__accinfo {
        position: inherit;
    }

    .account-menu ul li a {
        min-height: 40px;
    }

    .account-menu__header {
        padding-top: 15px;
    }

    .account-menu .greenbtn {
        margin-bottom: 15px;
    }

    .account-menu ul {
        padding-top: 5px;
    }

    .account-menu ul li {
        margin-bottom: 5px;
    }
}

@media(max-width:480.8px) {
    .quote-menu .col-lg-6 {
        max-width: 100% !important;
        flex: 0 0 100% !important;
    }

    .header__nav li.dropdlink .quote__item .greenbtn {
        min-width: 250px;
    }

    .account-menu {
        width: 100%;
    }


}