.account-wrapper {
    padding-top: 12px;
}

.account-nav {
    padding-right: 20px;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    li {
        margin-bottom: 8px;

        &:last-child {
            margin-bottom: 0;
            border-top: 1px solid #E9E9E9;
        }

        a {
            display: flex;
            align-items: center;
            min-height: 48px;
            padding: 5px 10px 5px 60px;
            position: relative;
            font-size: 14px;
            font-weight: 600;
            color: #2A2E3A;
            transition: 0.3s;

            img {
                width: 24px;
                position: absolute;
                left: 20px;
                top: 50%;
                transform: translateY(-50%);
            }

            &:hover {
                background: #EEF2E8;
            }
        }

        &.active {
            a {
                background: #EEF2E8;
                color: $main-green;
            }
        }
    }
}

.account-content {
    h3 {
        margin-bottom: 20px;
        color: #2A2E3A;
        font-size: 26px;
        font-weight: 800;
    }
}

.acc-addresses {
    max-width: 530px;
}

.acc-addresses__box {
    margin-bottom: 16px;

    input {
        display: none;
    }

    input:checked+label {
        border-color: $main-green;

        &::after {
            background: url('../img/account/acc-check.svg') no-repeat center / 100%;
            border: none;
        }
    }

    label {
        border: 1px solid #9DA0A4;
        border-radius: 10px;
        padding: 20px 20px 20px 48px;
        min-height: 124px;
        position: relative;
        display: block;
        transition: 0.3s;

        p {
            font-size: 14px;
            color: #2A2E3A;
            font-weight: 500;
            margin-bottom: 8px;
            max-width: calc(100% - 100px);

            &:last-child {
                margin-bottom: 0;
            }

            span {
                color: #6D717A;
            }
        }

        &::after {
            content: '';
            display: inline-block;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            border: 2px solid $main-green;
            position: absolute;
            left: 21px;
            top: 21px;
        }
    }

}

.acc-addresses__btns {
    width: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    right: 20px;
    top: 20px;

    button {
        padding: 0;
        border: none;
        background: transparent;

        img {
            width: 20px;
        }
    }

    a {
        display: inline-block;

        img {
            width: 20px;
        }
    }
}

.acc-addaddress {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 69px;
    border: 1px dashed #9DA0A4;
    color: $main-green;
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s;

    svg {
        width: 24px;
        margin-right: 12px;

        path {
            transition: 0.3s;
        }
    }

    &:hover {
        color: $main-green;
        border-color: $main-green;
        background: $main-green;
        color: #fff;

        svg {
            path {
                fill: #fff;
            }
        }
    }
}

// address edit
.acc-formwrap {
    max-width: 425px;
    position: relative;
}

.inputbox {
    margin-bottom: 16px;

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        color: #2A2E3A;
        font-weight: 500;
    }

    label {
        font-size: 14px;
        font-weight: 600;
        color: #2A2E3A;
        margin-bottom: 8px;
        display: block;

        i {
            font-style: normal;
            color: #D2515F;
        }
    }

    input {
        width: 100%;
        height: 53px;
        border-radius: 5px;
        border: 1px solid #CECBCB;
        padding: 0 12px;
        font-size: 14px;
        font-weight: 500;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        color: #2A2E3A;

        &:focus {
            border-color: #51801A;
        }
    }
}

.acc-btngroup {
    a, button {
        width: 100%;
        min-height: 48px;
    }

    button.greenbtn {
        border: none;
    }
}

.modal-deleteaddress {
    background: rgba(#968F8E, 0.5);
    // display: none;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;


    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    padding-top: 133px;

    &.show {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;

    }

    .d-flex {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
}

.modal-deleteaddress__content {
    max-width: 420px;
    width: 100%;
    background: #fff;
    border-radius: 4px;
    margin-top: -100px;
}

.modal-deleteaddress__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 65px;
    padding: 5px 20px;
    background: #ECECED;

    img {
        width: 32px;
    }
}

.modal-deleteaddress__close {
    border: none;
    padding: 0;
    background: transparent;

    svg {
        width: 32px;

        path {
            transition: 0.3s;
        }
    }

    &:hover {
        svg path {
            fill: #2A2E3A;
        }
    }
}

.modal-deleteaddress__body {
    padding: 30px 20px 20px 20px;

    p {
        color: #2A2E3A;
        font-size: 16px;
        font-weight: 700;
    }
}

.modal-deleteaddress__btns {
    margin-top: 16px;

    button {
        width: 100%;
        font-size: 16px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 48px;
        border-radius: 5px;
        transition: 0.3s;
    }

    .closebtn {
        background: #fff;
        color: $main-red;
        border: 1px solid $main-red;

        &:hover {
            background: $main-red;
            color: #fff;
        }

    }

    .deletebtn {
        color: #fff;
        border: 1px solid $main-red;
        background: $main-red;

        &:hover {
            color: $main-red;
            background: #fff;
        }
    }
}

.acc-btngroup {
    margin-top: 20px;
}

// history
.orderhistory__header {
    background: #E9E9E9;
    border-radius: 10px 0 0 0;
    padding: 12px 0;

    &>* {
        padding-left: 16px;
    }

    p {
        font-weight: 600;
        color: #6D717A;
        margin: 0;
    }
}

.acc-ordernum {
    width: 100%;
    max-width: 30%;
    flex: 0 0 30%;
}

.acc-ordersum {
    width: 100%;
    max-width: 26%;
    flex: 0 0 26%;
}

.acc-orderproducts {
    width: 100%;
    max-width: 44%;
    flex: 0 0 44%;
}

.orderhistory__row {
    padding: 8px 0;
    min-height: 72px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E9E9E9;

    &>* {
        padding-left: 16px;
    }

    p {
        margin: 0;
    }

    .acc-ordernum {
        p {
            font-size: 14px;
            font-weight: 600;
            color: #6D717A;

            span {
                display: block;
                position: relative;
                color: #2A2E3A;
                padding-left: 24px;
                margin-top: 4px;

                img {
                    width: 18px;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
    }

    .acc-ordersum {
        p {
            color: #2A2E3A;
            font-weight: 700;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }

    .acc-orderproducts {
        padding-right: 56px;
        position: relative;
    }
}

.acchistmenu {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;

    button {
        width: 30px;
        height: 30px;
        border: none;
        background: transparent;
        padding: 0;
    }

    img {
        width: 20px;
        transition: 0.3s;
    }

    &:hover {
        img {
            filter: brightness(0);
        }
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 4px;
        width: 200px;
        position: absolute;
        right: 0;
        top: 100%;
        background: #fff;
        box-shadow: 0 0 10px rgba(#455335, 0.15);
        border-radius: 10px;
        display: none;

        a {
            position: relative;
            min-height: 46px;
            display: flex;
            align-items: center;
            padding-left: 60px;
            color: #2A2E3A;
            font-size: 14px;
            font-weight: 600;
            transition: 0.3s;
            border-radius: 5px;

            &:hover {
                background: #f0f0f0;
            }

            img {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 20px;
                left: 22px;
            }
        }
    }
}

.acc-orderproducts .prodpics {
    display: flex;
    justify-content: flex-end;

    .imgwrap {
        width: 52px;
        height: 52px;
        margin-left: 30px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: relative;
        border-radius: 10px;
        overflow: hidden;

        img {
            max-width: 100%;
            max-height: 100%;
        }

        &:first-child {
            margin-left: 0;
        }

        &:nth-child(n+6) {
            display: none;
        }

    }
}

.acc-orderproducts .morepr {
    span {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        background: rgba(#9DA0A4, 0.8);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: #fff;
        font-size: 12px;
        font-weight: 600;
    }
}

.orderhistory__body {
    .moreorders {
        margin-top: 24px;
    }
}

.moreorders {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 48px;
    min-width: 202px;
    padding: 5px 12px;
    border-radius: 5px;
    background: #EEF2E8;
    color: $main-green;
    font-weight: 600;
    transition: 0.3s;

    svg {
        margin-right: 10px;
        width: 24px;

        path {
            transition: 0.3s;
        }
    }

    &:hover {
        color: #fff;
        background: $main-green;

        svg {
            path {
                fill: #fff;
            }
        }
    }
}

// order details

.order-status {
    border-radius: 20px;
    background: #E9E9E9;
    min-height: 32px;
    display: inline-flex;
    align-items: center;
    padding: 3px 17px 3px 40px;
    font-size: 12px;
    font-weight: 600;
    color: #2A2E3A;
    position: relative;
    margin-bottom: 20px;

    img {
        width: 16px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 17px;
    }
}

.orderdate {
    margin-bottom: 24px;
    color: #6D717A;
    font-size: 14px;
    font-weight: 600;
}

.order-detailssect {
    border-radius: 10px;
    border: 1px solid #CECBCB;
    padding: 24px;
    margin-bottom: 32px;

    &.rollup {
        .order-detailssect__body {
            display: none;
        }

        .order-detailssect__header span img {
            transform: rotate(-180deg);
        }
    }


}

.order-detailssect__header {
    span {
        display: inline-flex;
        align-items: center;
        color: #2A2E3A;
        font-weight: 700;
        position: relative;
        padding-right: 34px;
        cursor: pointer;

        img {
            position: absolute;
            right: 0;
            transition: 0.3s;
            width: 25px;
        }
    }
}

.order-detailssect__body {
    padding-top: 29px;
}

.order-detailssect__row {
    margin-bottom: 32px;

    &:last-child {
        margin-bottom: 0;
    }

    .title {
        color: #9DA0A4;
        font-size: 12px;
        margin-bottom: 8px;
    }

    p {
        color: #2A2E3A;
        font-size: 16px;
        font-weight: 600;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.orderdetails-list__header {
    display: flex;
    align-items: center;
    min-height: 48px;
    background: #E9E9E9;
    border-radius: 10px;

    p {
        font-weight: 600;
        color: #6D717A;
        margin: 0;
    }
}

.orderdetails-list__product,
.orderdetails-list__count,
.orderdetails-list__sum {
    padding-left: 10px;
    width: 100%;
}

.orderdetails-list__product {
    max-width: 66%;
    flex: 0 0 66%;
}

.orderdetails-list__count {
    max-width: 17%;
    flex: 0 0 17%;
}

.orderdetails-list__sum {
    padding-right: 10px;
    max-width: 17%;
    flex: 0 0 17%;
}

.orderdetails-list__row {
    display: flex;
    align-items: center;
    min-height: 72px;
    padding: 6px 0 10px;
    border-bottom: 1px solid #E9E9E9;

    p {
        margin: 0;
    }
}

.orderdetails-list__body {
    .orderdetails-list__product {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .imgwrap {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            max-width: 56px;
            flex: 0 0 56px;
            height: 56px;

            img {
                max-width: 100%;
                max-height: 100%;
            }
        }

        p {
            padding-left: 20px;
            width: 100%;
            margin: 0;
            max-width: calc(100% - 56px);
            flex: 0 0 calc(100% - 56px);
            color: #2A2E3A;
            font-size: 14px;
            font-weight: 600;
        }
    }

    .orderdetails-list__count {
        padding-left: 30px;

        p {
            color: #2A2E3A;
            font-size: 20px;
            font-weight: 700;
        }
    }

    .orderdetails-list__sum {
        p {
            color: #2A2E3A;
            font-weight: 700;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }

}

.orderdetails-list {
    margin-bottom: 24px;
}

.orderdetails-total {
    background: #E9E9E9;
    border-radius: 10px;
    padding: 20px;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    li {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }

        &::after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            bottom: 3px;
            width: 100%;
            height: 1px;
            border-bottom: 1px dashed #6D717A;
        }

        span {
            display: inline-block;
            background: #E9E9E9;
            position: relative;
            z-index: 1;
            max-width: 50%;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;

            &.title {
                color: #6D717A;
                font-size: 14px;
                padding-right: 5px;
            }

            &.price {
                padding-left: 5px;
                color: #6D717A;
                font-weight: 700;

                &.discont {
                    color: $main-green;
                }
            }
        }

        &:last-child {

            .title,
            .price {
                color: #2A2E3A;
                font-size: 16px;
                font-weight: 700;
            }
        }
    }
}

.routestatus {
    padding-left: 55px;
    position: sticky;
    top: 20px;

    .greenbtn {
        width: 100%;
        padding: 3px 10px;
    }
}

.routestatus__box {
    list-style-type: none;
    margin: 0 0 20px 0;
    padding: 0 4px;
    border-bottom: 1px solid #CECBCB;

    li {
        margin-bottom: 35px;
        position: relative;
        padding-left: 44px;
        font-size: 14px;
        font-weight: 600;
        color: #2A2E3A;

        &:nth-child(1) {
            &::after {
                display: none;
            }
        }

        &::before {
            content: '';
            display: inline-block;
            border-radius: 50%;
            width: 17px;
            height: 17px;
            background: #fff;
            border: 2px solid #9DA0A4;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }

        &::after {
            content: '';
            display: inline-block;
            height: 35px;
            width: 1px;
            border-left: 1px dashed #6D717A;
            position: absolute;
            left: 8px;
            top: -35px;
        }

        &.active {
            &::before {
                border-color: $main-green;
            }
        }
    }
}

.account-nav {
    position: sticky;
    top: 20px;
}

// customer info
.customer-info {
    width: 100%;
    max-width: 44%;
    flex: 0 0 44%;
}

.customer-mainaddress {
    width: 100%;
    max-width: 56%;
    flex: 0 0 56%;
}

.customer-info {
    position: relative;

    p {
        font-size: 14px;
        font-weight: 700;
        color: #2A2E3A;
        margin-bottom: 20px;
        max-width: calc(100% - 100px);

        &:last-child {
            margin-bottom: 0;
        }

        span {
            display: block;
            margin-bottom: 4px;
            color: #6D717A;
            font-weight: 400;
        }
    }
}

.customer-info__edit {
    border: 1px solid $main-green;
    padding: 2px 17px;
    min-height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    color: $main-green;
    font-size: 14px;
    font-weight: 600;
    transition: 0.3s;
    position: absolute;
    top: 15px;
    right: 0;

    svg {
        width: 20px;
        margin-right: 4px;

        path {
            transition: 0.3s;
        }
    }

    &:hover {
        color: #fff;
        background: $main-green;

        svg {
            path {
                fill: #fff;
            }
        }
    }

}

.customer-mainaddress {
    padding-left: 90px;

    .title {
        margin-bottom: 8px;
        color: #6D717A;
        font-size: 14px;
    }
}

.acc-mainaddress {
    border: 1px solid $main-green;
    padding: 20px;
    min-height: 124px;
    border-radius: 10px;

    p {
        font-size: 14px;
        font-weight: 500;
        color: #2A2E3A;
        margin-bottom: 8px;

        span {
            color: #6D717A;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.acc-formwrap .forminfotext {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    color: #2A2E3A;
    font-size: 18px;
    font-weight: 700;
    margin-top: 40px;

    &:first-child {
        margin-top: 0;
    }

    span {
        width: 100%;
        max-width: 50%;
        flex: 0 0 50%;

        i {
            color: #D2515F;
            font-size: 16px;
            font-weight: 600;
            text-align: right;
            display: block;
            font-style: normal;
        }
    }

}

.acc-formwrap_wider {
    max-width: 475px;
}

.acc-formwrap {
    p {
        font-size: 14px;
        font-weight: 500;

        a {
            color: #007AFF;
        }
    }

    .accinfo-save {
        width: 100%;
        border: none;
        margin-top: 24px;
    }
}

@media(max-width:1599.8px) {
    .acc-orderproducts .prodpics .imgwrap {
        margin-left: 15px;
    }
}

@media(max-width:1399.8px) {
    .acc-orderproducts .prodpics .imgwrap {
        margin-left: 5px;
        width: 48px;
        height: 48px;
    }

    .acc-orderproducts .morepr span {
        font-size: 10px;
    }

    .orderhistory__row .acc-orderproducts {
        padding-right: 35px;
    }

    .routestatus {
        padding-left: 30px;
    }
}

@media(max-width:1199.8px) {
    .account-nav li a {
        padding: 5px 5px 5px 40px;
    }

    .account-nav li a img {
        left: 10px;
        width: 20px;
    }

    .account-nav {
        padding-right: 0;
    }

    .acc-orderproducts .prodpics .imgwrap {
        width: 40px;
        height: 40px;
    }

    .orderhistory__row .acc-ordersum p {
        font-size: 14px;
    }

    .routestatus {
        padding-left: 0;
    }

    .orderdetails-list__body {
        flex-wrap: wrap;
    }

    .orderdetails-list__sum {
        padding-right: 0;
    }

    .orderdetails-list__row {
        flex-wrap: wrap;
    }

    .orderdetails-list__body .orderdetails-list__sum p,
    .orderdetails-list__body .orderdetails-list__count p {
        font-size: 14px;
    }

    .orderdetails-list__body .orderdetails-list__product p {
        padding-left: 10px;
    }

    .orderdetails-list__header {
        padding-left: 5px;

        p {
            font-size: 14px;
        }
    }

    .orderdetails-list__count,
    .orderdetails-list__product,
    .orderdetails-list__sum {
        padding-left: 5px;
    }

    .orderdetails-list__sum,
    .orderdetails-list__count {
        max-width: 20%;
        flex: 0 0 20%;
    }

    .orderdetails-list__product {
        max-width: 60%;
        flex: 0 0 60%;
    }

    .orderdetails-list__body .orderdetails-list__count {
        padding-left: 20px;
    }

    .customer-mainaddress {
        padding-left: 50px;
    }

}

@media(max-width:991.8px) {
    .orderhistory__header {

        .acc-ordersum,
        .acc-orderproducts {
            display: none;
        }
    }

    .acc-ordernum,
    .acc-ordersum,
    .acc-orderproducts {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .orderhistory__body {

        .acc-ordernum,
        .acc-ordersum {
            margin-bottom: 10px;
        }
    }

    .acc-orderproducts .prodpics {
        justify-content: flex-start;
    }

    .orderdetails-total {
        margin-bottom: 30px;
    }

    .order-detailssect__row {
        margin-bottom: 20px;
    }

    .customer-info,
    .customer-mainaddress {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .customer-mainaddress {
        padding-left: 0;
    }

    .customer-info {
        margin-bottom: 30px;
    }

}

@media(max-width:767.8px) {
    .account-nav {
        margin-bottom: 30px;
    }


}

@media(max-width:575.8px) {
    .account-nav li {
        margin-bottom: 2px;
    }

    .acc-addresses__box label {
        padding: 20px 20px 20px 40px;

        p {
            max-width: calc(100% - 70px);
        }

        &::after {
            left: 14px;
        }
    }

    .acc-btngroup .border-btn {
        margin-bottom: 16px;
    }

    .modal-deleteaddress__content {
        max-width: 320px;
    }

    .modal-deleteaddress__header {
        min-height: 55px;
    }

    .modal-deleteaddress__body {
        padding: 20px 15px 15px 15px;
    }

    .modal-deleteaddress__btns {
        margin-left: -5px;
        margin-right: -5px;

        &>* {
            padding-left: 5px;
            padding-right: 5px;
        }
    }










}

@media (orientation: landscape) and (max-height:500px) {
    .modal-deleteaddress__content {
        margin-top: 0;
    }

    .modal-deleteaddress {
        padding-top: 180px;
        overflow: auto;
        padding-bottom: 50px;


        .d-flex {
            // padding-bottom: 30px;
            min-height: 250px;
        }
    }
}