.category-section {
    padding: 10px 0 40px 0;

    h1 {
        font-size: 26px;
        font-weight: 800;
        margin-bottom: 24px;
        color: #3A2C2A;
    }

    .col-xl-3 {
        margin-bottom: 60px;

        &:nth-child(4n) {
            .category-item {
                border: none;
            }
        }
    }
}

.category-section.category-section_ctpage {
    padding: 10px 0 100px 0;

    h1 {
        margin-bottom: 16px;
        color: #2A2E3A;
    }

    .col-xl-3,
    .col-xl-6 {
        margin-bottom: 20px;
    }


}

.category__header {
    margin-bottom: 32px;

    p {
        max-width: 720px;
        color: #2A2E3A;
        font-size: 14px;
        font-weight: 600;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.category-item {
    height: 100%;
    padding: 20px 25px 18px 25px;
    display: block;
    border-right: 1px solid #E9E9E9;

    h5 {
        margin-bottom: 12px;
        color: $main-green;
        transition: 0.3s;
        position: relative;
        display: inline-block;

        &::after {
            content: '';
            display: block;
            height: 1px;
            width: 0;
            background: $main-red;
            transition: 0.3s;
        }
    }

    p {
        font-size: 14px;
        color: #968F8E;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .imgwrap {
        margin: 28px 0;
        height: 165px;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    &:hover {
        h5 {
            color: $main-red;

            &::after {
                width: 100%;
            }
        }
    }
}

.category-itemwrap {
    padding: 0;
    display: block;
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    transition: 0.4s;
    transform: scale(1.002);
    border: 1px solid #CECBCB;


    &:hover {
        border: 1px solid #fff;
        box-shadow: 0 4px 10px rgba(#000, 0.15);
        transform: scale(1.02);

        h5 {
            color: #82252F;
        }
    }

    .imgwrap {
        text-align: center;
        padding: 0;
        // height: 270px;
        aspect-ratio: 1 / 1;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            max-width: 100%;
            max-height: 100%;
            width: 100%;
        }
    }

    .description {
        min-height: 130px;
        padding: 24px 20px 10px 20px;
    }

    h5 {
        margin-bottom: 12px;
        color: #51801A;
        font-size: 16px;
        font-weight: 600;
        line-height: 150%;
        transition: 0.4s;
        text-align: center;
    }

    p {
        font-size: 14px;
        font-weight: 500;
        color: #2A2E3A;
        margin: 0;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        line-height: 150%;
    }



}

.closersbybrands {
    h4 {
        margin-bottom: 32px;
        color: $main-red;
        font-size: 20px;
        font-weight: 700;
        line-height: 150%;
        text-transform: uppercase;
        color: #82252F;
    }

    .col-lg-6 {
        margin-bottom: 20px;
    }
}

.branditwrapper {
    border: 1px solid #968F8E;
    border-radius: 15px;
    padding: 32px;
    display: flex;
    flex-wrap: wrap;
    height: 100%;

    .branditwrapper__leftinfo {
        width: 100%;
        max-width: 184px;
        flex: 0 0 184px;

        .imgwrap {
            background: #EEF2E8;
            width: 100%;
            height: 127px;
            margin-bottom: 24px;
            display: inline-flex;
            align-items: center;
            justify-content: center;

            img {
                max-width: 120px;
                max-height: calc(100% - 40px);
            }
        }

        .border-btn {
            &:hover {
                color: #fff;
                background: #51801A;
                border-color: #51801A;
            }
        }

    }

    .branditwrapper__rightinfo {
        width: 100%;
        max-width: calc(100% - 184px);
        flex: 0 0 calc(100% - 184px);
        padding-left: 32px;

        h4 {
            margin-bottom: 16px;
            color: #2A2E3A;
            font-size: 20px;
            line-height: 150%;
            font-weight: 700;
            text-transform: capitalize;
        }

        p {
            color: #7A6E6D;
            font-size: 16px;
            line-height: 150%;
            font-weight: 600;
            display: -webkit-box;
            -webkit-line-clamp: 6;
            -webkit-box-orient: vertical;
            overflow: hidden;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

}

.subcategory {
    padding: 10px 0 0 0;

    h1 {
        margin-bottom: 30px;
        color: #3A2C2A;
        font-size: 26px;
        font-weight: 800;
    }

    .col-xl-3:nth-child(4n) a {
        border-right: none;
    }
}

.subcategory-item {
    display: block;
    position: relative;
    border-right: 1px solid #E9E9E9;
    text-align: center;
    padding: 0 20px 7px 20px;
    margin-bottom: 48px;

    .imgwrap {
        height: 376px;
        position: relative;
        overflow: hidden;
        margin-bottom: 8px;
        max-width: 246px;
        margin: 0 auto;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    p {
        margin: 0;
        font-size: 16px;
        font-weight: 600;
        color: $main-green;
        transition: 0.3s;
        position: relative;
        display: inline-block;

        &::after {
            content: '';
            display: block;
            height: 1px;
            width: 0;
            background: $main-red;
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            transition: 0.3s;
        }
    }

    &:hover {
        p {
            color: $main-red;

            &::after {
                width: 100%;
            }
        }
    }

}


@media(min-width:1200px) {
    .col-xl-5ths {
        flex: 0 0 auto;
        width: 20%;
    }
}

 .col-xl-5ths {
        margin-bottom: 22px;
    }

.category-section_ctpage {
    .row {
        margin-left: -10px;
        margin-right: -10px;
    }

    .row>* {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media(max-width:1399.8px) {

    .subcategory-item .imgwrap {
        height: 350px;
    }

    .category-itemwrap h5 {
        margin-bottom: 8px;
    }

    .branditwrapper .branditwrapper__rightinfo p {
        font-size: 14px;
        -webkit-line-clamp: 7;
    }

    .category-itemwrap .description {
        padding-top: 10px;
    }

}

@media(max-width:1199.8px) {

    .closersbybrands .closersbybrands__item .closersbybrands__item-logo,
    .closersbybrands .closersbybrands__item .closersbybrands__item-descr {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .closersbybrands .closersbybrands__item .closersbybrands__item-logo {
        margin-bottom: 15px;

        img {
            max-width: 220px;
        }
    }

    .subcategory-item .imgwrap {
        margin-bottom: 15px;
    }

    .subcategory .col-xl-3:nth-child(4n) a {
        border-right: 1px solid #E9E9E9 !important;
    }

    .subcategory .col-xl-3:nth-child(3n) a {
        border-right: none !important;
    }

    .branditwrapper {
        padding: 20px;
    }

    .branditwrapper .branditwrapper__leftinfo {
        max-width: 140px;
        flex: 0 0 140px;
    }

    .branditwrapper .branditwrapper__rightinfo {
        max-width: calc(100% - 140px);
        flex: 0 0 calc(100% - 140px);
        padding-left: 25px;
    }

    .branditwrapper .branditwrapper__leftinfo .imgwrap img {
        max-width: calc(100% - 20px);
    }

    .branditwrapper .branditwrapper__rightinfo h4 {
        margin-bottom: 5px;
    }

    .branditwrapper .branditwrapper__leftinfo .imgwrap {
        margin-bottom: 15px;
    }

    .category-section.category-section_ctpage {
        padding-bottom: 70px;
    }

    .branditwrapper .branditwrapper__rightinfo p {
        -webkit-line-clamp: initial;
        font-size: 16px;
    }

    .branditwrapper .branditwrapper__rightinfo h4 {
        margin-bottom: 10px;
    }

    .closersbybrands h4 {
        margin-bottom: 20px;
    }

}

@media(max-width:991.8px) {
    .subcategory-item {
        margin-bottom: 30px;
    }

    .subcategory-item p {
        font-size: 18px;
    }

    .subcategory .col-xl-3:nth-child(4n) a {
        border-right: 1px solid #E9E9E9 !important;
    }

    .subcategory .col-xl-3:nth-child(3n) a {
        border-right: 1px solid #E9E9E9 !important;
    }

    .subcategory .col-xl-3:nth-child(2n) a {
        border-right: none !important;
    }
}

@media(max-width:767.8px) {
    .category-item {
        border-right: none;
        border-bottom: 1px solid #E9E9E9 !important;
        padding: 0 0 30px 0;
    }

    .category-section .col-xl-3 {
        margin-bottom: 30px;
    }

    .category-itemwrap .description {
        min-height: initial;
        padding-bottom: 30px;

        p {
            -webkit-line-clamp: initial;
        }
    }



    .branditwrapper .branditwrapper__rightinfo p {
        font-size: 14px;
    }

    .subcategory-item .imgwrap {
        max-height: 300px;
    }


}

@media(max-width:575.8px) {
    .category-item h5 {
        margin-bottom: 8px;
    }

    .category-item .imgwrap {
        margin: 15px 0;
    }

    .closersbybrands .closersbybrands__item .closersbybrands__item-descr {
        padding: 0;
    }

    .closersbybrands .closersbybrands__item .closersbybrands__item-descr p {
        font-size: 14px;
    }

    .closersbybrands .closersbybrands__item .closersbybrands__item-descr h6 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .closersbybrands .closersbybrands__item {
        text-align: center;
    }

    .closersbybrands .closersbybrands__item .closersbybrands__item-logo {
        margin-bottom: 5px;
    }

    .closersbybrands .closersbybrands__item .closersbybrands__item-descr a {
        display: inline-flex;
    }

    .closersbybrands .closersbybrands__item .closersbybrands__item-descr p {
        margin-bottom: 15px;
    }

    .closersbybrands .col-md-6:last-child {
        margin-bottom: 0;
    }

    .subcategory-item {
        border-right: none;
        border-bottom: 1px solid #E9E9E9;
        padding-bottom: 20px;
    }

    .subcategory-item .imgwrap {
        max-height: 280px;
    }

    .col-sm-6:last-child {
        .subcategory-item {
            border-bottom: none;
        }
    }

    .category-section.category-section_ctpage {
        padding-bottom: 50px;
    }

    .closersbybrands h4 {
        font-size: 18px;
    }


    .category-itemwrap h5 {
        margin-bottom: 8px;
    }

    .category__header {
        margin-bottom: 20px;
    }

    .subcategory-item {
        border-right: none;
        border-bottom: 1px solid #E9E9E9;
        padding-bottom: 20px;
    }

    .subcategory-item .imgwrap {
        max-height: 280px;
    }

    .col-sm-6:last-child {
        .subcategory-item {
            border-bottom: none;
        }
    }

    .subcategory .col-xl-3 a.subcategory-item {
        border-right: none !important;
    }

    .branditwrapper .branditwrapper__leftinfo,
    .branditwrapper .branditwrapper__rightinfo {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .branditwrapper .branditwrapper__leftinfo {
        margin-bottom: 0;
        order: 2;
    }

    .branditwrapper .branditwrapper__rightinfo {
        padding-left: 0;
        order: 1;
        margin-bottom: 20px;
    }

    .branditwrapper {
        padding: 25px;
    }

    .category-itemwrap .description {
        padding-top: 10px;
    }




}